<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/static/style.css">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <title>Django 코로나-19 하이차트 기말과제</title>
</head>
<body>
    <a href="{% url 'home' %}">Return to homepage</a>
    <div style="border: 3px solid #9DB0AC;">
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script>
            Highcharts.chart('container', {{ chart|safe }});
        </script>
    </div>
</body>

</html>